.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}
 
.box {
  position: relative;
  width: 35%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(110vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(34% - 39px);
  top: calc(120vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.nav-link {
  font-size: 30px;
}

.styled-container {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 15px 5px 15px 5px;
}

#trip-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

#map-column {
  padding-top: 30px;
}

.profile-row {
  padding-top: 50px;
}

#trip-comp-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

#start-trip {
  margin: 20px;
}

#end-trip {
  margin: 20px;
}

.checklist {
  text-align: left;
}

.route {
  margin: 5px;
}

.trip {
  margin: 15px;
}

.scrollable {
  height: 60vh;
  overflow-y: scroll;
}

.scrollable-::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #858585;
  border-radius: 5px;
}

.edit {
  cursor: pointer;
}

.edit-icon {
  align-self: end;
}

.logout {
  justify-content: flex-end;
}

.logo {
  justify-content: center;
}

.vehicle-list-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

#vehicle-row {
  padding-bottom: 20px;
}

.report {
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}